
.header{
   text-align: center;
  
   
    
}
.header img{
    height: 100px;
    position: center;
   
  
    
}


.header nav {
    background-color: #3b5998;
    line-height: 50px;
    font-size: 25px;
   
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;

}

nav a:hover{
    background-color: gray;
}
